<template name="footerInfo">
	<div class="footer-container">
		<div class="footer-container2">
			<div class="footer-top-container section-container">
				<div class="footer-top footer container stretched">
					<div class="inner-container">
						<div class="section clearer links-wrapper-separators">
							<div class="item item-left">
							</div>
							<div class="item item-left"><div class="grid-container">
								<div class="grid12-6">e-mail:<br><a style="text-decoration: underline;" href="#" target="_top">sales@mycoolstore.com</a></div>
							</div></div>
							<div class="item item-right"><ul>
								<li><a target="_blank" href="https://www.facebook.com/samsung.next.level/"><p><img style="width: 35px;" alt="" src="/resources/facebook.svg"></p></a></li>
							</ul></div><a target="_blank" href="#">
						</a></div><a target="_blank" href="#"> <!-- end: footer-top section -->
					</a></div><a target="_blank" href="#"> <!-- end: inner-container -->
				</a></div><a target="_blank" href="#"> <!-- end: footer-top -->
			</a></div><a target="_blank" href="#">
		</a><div class="footer-primary-container section-container"><a target="_blank" href="#">
	</a><div class="footer-primary footer container show-bg"><a target="_blank" href="#">
</a><div class="inner-container"><a target="_blank" href="#">
</a><div class="section clearer"><a target="_blank" href="#">
</a><div class="grid12-12"><a target="_blank" href="#"> </a><div class="std"><a target="_blank" href="#"></a><div class="grid-container"><a target="_blank" href="#">
</a>
<div class="grid12-3">
	<h6>Our Company</h6>
	<ul>
		<li><a href="/about">About us</a></li>
		<li><a href="/terms">Terms</a></li>
	</ul>
</div>
<div class="grid12-2"><br></div>
<div id="contacto-footer" class="grid12-3">
	<h6>Call Us</h6>
	<p>24/7 Phone number<br>asisntance on sales and customer service</p>
	<a title="Contacta con Samsung Store" href="#" style="font-weight: bold;">(+1) 5555-5555555</a>
	<br>
	<hr>
</div>
</div></div></div> </div> 
<div class="footer-primary-bottom grid12-12">
	<div class="footer-primary-bottom-spacing clearer">
		<div class="item item-right newsletter-wrapper clearer">
			<div id="subscribe-form" class="clearer">
			</div>
		</div>
	</div>
</div> 
</div> 
</div> 
</div>
<div class="footer-bottom-container section-container">
	<div class="footer-bottom footer container">
		<div class="inner-container">
			<div class="section clearer">
				<div class="item item-left">
					<p class="footer-copyright" style="margin: 5px 0 5px;">NEXT-REACTION. Plugin for <a href="http://reactioncommerce.com" target="_blank"><strong>Reaction Commerce</strong></a> //  <a href="http://www.freepik.com/free-photo/thoughtful-business-woman-isolated-on-white-background_1119363.htm">Sample images by Freepik</a></p>
				</div>
			</div> <!-- end: footer-bottom section -->
		</div> <!-- end: inner-container -->
	</div> <!-- end: footer-bottom -->
</div>
<a id="scroll-to-top" class="ic ic-up" href="#top" style="display: inline;"></a>
</div> <!-- end: footer-container2 -->
</div>
</template>