<template name="layoutHeaderNextReaction">

  <div class="header-top-container">
    <div class="header-top header container clearer">
      <div class="inner-container">
        <div class="left-column">
          <div class="item item-left block_header_top_left"> <b>NEXT REACTION</b> <span style="margin-left: 2px;"><font> </font> is my cool <b> Store </b> demo</span></div>
          <div class="item item-left hide-below-960">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="nav" role="navigation">

      <div class="row">
        {{> CoreNavigationBar coreNavProps}}
      </div>

      <div class="row">
        {{!-- {{> tagNav tagNavProps}} --}}
      </div>
    </div>
  </div>

</template>